<h1>About this Site</h1>
<p>This site is made with Angular (latest version). It started out as a site hosted with Github Pages, but I migrated to Angular and 
  Firebase because Firebase fulfills all requirements for deployment and Angular gives me great flexibility. In its current state the 
  site is little more than a collection of static content, so it could just as well be developed with Node and a templating engine like 
  for example Handlebars. However, I don't want to put limits on how this site can evolve over time and what types of content can be 
  added, and I think the component system of Angular is very powerful, flexible and easy to use. Moreover, this site is supposed to be a 
  demonstrator for companies interested in my profile in addition to being a personal site. As such, it should of course be developed with 
  the latest technologies.

  The Angular project corresponding to this site is public and can be found 
  <a href="https://github.com/AndreasMuellerAtStuttgart/Website">at Github</a>.
</p>
