<h1>Contact and other platforms</h1>
        
<div style="text-align: center">
    <p>I am also at least semi-active on various other platforms (see list below).</p>

    <a href="https://medium.com/@a.mueller3" target="_blank">Medium</a><br/>
    <a href="https://www.linkedin.com/in/andreas-m%C3%BCller-a1923ab3/" target="_blank">LinkedIn</a><br/>
    <a href="https://soundcloud.com/user-466785282" target="_blank">Soundcloud</a><br/>
    <a href="https://deepundergroundpoetry.com/poems-by/AltairEndian/" target="_blank">Deep Underground Poetry</a><br/>

    <p>If you want to write me a message, use: altairendian[at]gmail.com (replace [at] with @ symbol to get correct 
        adress).
    </p>
</div>
