<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="nav-bar">
    <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/history" routerLinkActive="active">Project History</a>
    </li>
    <li class="nav-item">
      <a routerLink="/diary" routerLinkActive="active">Development Diary</a>
    </li>
    <li class="nav-item">
      <a routerLink="/thoughts" routerLinkActive="active">Thoughts on Software Development</a>
    </li>
    <li class="nav-item">
      <a routerLink="/poetry" routerLinkActive="active">Poetry</a>
    </li>
    <li class="nav-item">
      <a routerLink="/music" routerLinkActive="active">Music</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

