<div class="home">
  <h1>Data Collection and Privacy</h1>
  <p>The homepage itself collects no data. The only data collected is the default data collection of Firebase. For example, Firebase 
    collects data about:
  </p>
  <ul>
    <li>Number of users and sessions</li>
    <li>Session duration</li>
    <li>Operating systems</li>
  </ul>

  <p>For a complete list see: <a href="https://support.google.com/firebase/answer/6318039?hl=en" target="_blank">
    Data Collection Page at Firebase Support</a>. I don't use the collected data at all, and I de-activated all sharing of the data 
    with other Google Services.
  </p>
</div>

