<table cellspacing="20">
    <tr>
        <td><img src="../../assets/am.jpg" alt="Andreas"></td>
        <td>
            <h1 style="text-align: left;">Andreas Müller</h1>
            <p><em>Experienced <strong>Java SE Developer</strong> on his way to learning full stack development</em></p>
            <p><em>I am currently taking the <a href="https://www.udemy.com/testing-spring-boot-beginner-to-guru/">
                Testing with Spring Boot</a>
                course by John Thompson, author of the <a href="https://springframework.guru/">Spring Framework Guru Website</a> </em></p>
            <p><em>My <a href="dev_diary.html">Development Diary</a> contains things I learn during my journey to becoming a 
                full stack developer</em></p>
            <p><em>For things I've learned so far about software development see the <a href="thoughts.html">
                Thoughts on Software Development</a> section</em></p>
            <p><em>This site also features <a href="music.html">Music</a> and <a href="poetry.html">Poetry</a> composed and written
                by me</em></p>
        </td>
    </tr>
</table>
<p>I am a software developer with years of experience in Java (SE) programming. I am currently transitioning into full stack web development. 
    This website is the central hub for all of my activities concerning software development, be it small personal projects to showcase
    my skills, lessons I've learned during development and taking online courses or general thoughts on software development.
</p>

<hr/>

<h2>Education</h2>
<table class="table center-table">
    <thead>
        <th>Time Span</th>
        <th>Education</th>
    </thead>
    <tbody>
        <tr>
            <td>09/1997-07/2006</td>
            <td>Abitur at <a href="https://www.gbg.wn.schule-bw.de/">Georg Büchner Gymnasium Winnenden</a></td>
        </tr>
        <tr>
            <td>10/2006-03/2012</td>
            <td>Diploma in computational linguistics at 
                <a href="https://www.ims.uni-stuttgart.de/index.en.html">
                        Institute for Natural Language Processing Stuttgart
                </a>
            </td>
        </tr>
    </tbody>
</table>

<hr/>

<h2>Work Experience</h2>
<table class="table center-table">
    <thead>
        <tr>
            <th>Timespan</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>04/2012-04/2016</td>
            <td>Scientist at <a href="https://www.ims.uni-stuttgart.de/index.en.html">
                Institute for Natural Language Processing Stuttgart</a>
            </td>
        </tr>
        <tr>
            <td>08/2016-02/2017</td>
            <td>Trainee for Java-based web service development</td>
        </tr>
        <tr>
            <td>03/2017-02/2019</td>
            <td>Break due to illness</td>
        </tr>
        <tr>
            <td>03/2019-today</td>
            <td>Internship at <a href="https://www.iao.fraunhofer.de/lang-de/">Fraunhofer IAO Stuttgart</a> as a Java 
                software developer
            </td>
        </tr>
    </tbody>
</table>

<hr/>

<h2>Skills (10 point scale)</h2>
<table class="table center-table">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Rating</th>
            <th>Skill</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Java SE programming</td>
            <td>7</td>
            <td>JavaScript programming</td>
            <td>4</td>
        </tr>
        <tr>
            <td>HTML / CSS</td>
            <td>4</td>
            <td>Angular</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Unit Testing</td>
            <td>5</td>
            <td>Analyzing Problems and Finding Algorithmic Solutions</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Frontend Development</td>
            <td>4</td>
            <td>Backend Development</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Software Development Methodologies</td>
            <td>5</td>
            <td>Software Documentation</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Natural Language Processing</td>
            <td>7</td>
            <td>Machine Learning</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

Background-Bild von <a href="https://pixabay.com/de/users/Sambeetarts-1339110/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1732847">Sambeet D</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1732847">Pixabay</a>
