<div class="center">   
  <h1>Music</h1>
  <p>This page features music written by me. The sound quality isn't very good because I don't have a band/orchestra behind me 
      to record with real instruments, but I hope it's still enjoyable. "The Final Law" songs are written in Guitar Pro, the 
      orchestra piece is written in MuseScore.
  </p>

  <h2>The Final Law</h2>
  <p>Right now I am working on my first concept album, "The Final Law". It is a dark science fiction tale about a human elite 
      fleeing a destroyed earth and ruling another empire among the stars, while on earth a new civilization arises.
  </p>
  <p>Note: I am currently searching for a singer to add vocals to the material. In the songs written so far the vocal line is 
      replaced by a flute. All songs written and exported to audio with Guitar Pro.
  </p>

  <p>The Tale Begins:</p>
  <audio controls>
      <source src="../../assets/music/The Tale Begins.mp3" type="audio/wav">
      Your browser does not support the audio element.
  </audio>

  <p>The Red Dance:</p>
  <audio controls>
      <source src="../../assets/music/The Red Dance.mp3" type="audio/wav">
      Your browser does not support the audio element.
  </audio>

  <p>Requiem:</p>
  <audio controls>
      <source src="../../assets/music/Requiem.mp3" type="audio/wav">
      Your browser does not support the audio element.
  </audio>

  <p>Two Faces:</p>
  <audio controls>
      <source src="../../assets/music/Two Faces.mp3" type="audio/wav">
      Your browser does not support the audio element.
  </audio>

  <h2>Orchestra Pieces</h2>
  <p>So far I have just one piece written for orchestra, mainly because making good use of all the available instruments can be 
      difficult/time consuming. I plan to write more in the future.
  </p>

  <p>Waves Made by Wings</p>
  <audio controls>
      <source src="../../assets/music/Waves_made_by_Wings.mp3" type="audio/mp3">
      Your browser does not support the audio element.
  </audio>
</div>
