<h1>Poetry</h1>

<p>This page shows my illustrated poems. The illustrations are made by an Egyptian artist, the poems are written by me.
</p>

<a href="../../assets/poetry/enemy.jpg">
    <img width="200" height="300" src="../../assets/poetry/enemy_low.jpg">
</a>
<a href="../../assets/poetry/last_night.jpg">
    <img width="200" height="300" src="../../assets/poetry/last_night_low.jpg">
</a>
<a href="../../assets/poetry/watchman.jpg">
    <img width="200" height="300" src="../../assets/poetry/watchman_low.jpg">
</a>